:root {
    --primary-text-coor: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-text-color: #2E2F42;
    --succes-text-color: #31D0AA;
    --text-color: #434445;
    --subtatle-text-color: #8E8F99;
    --accemt-text-color: #E7E9FC;
    --light-text-color: #F4F4FD;
    --background-color: #FFFFFF;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--text-color);

}

.header-list,
.address-list,
.features-list,
.work-list,
.team-list,
.img-list,
.btn-list {
    list-style-type: none;
}
/* Header */
.logo-web {

    color: var(--primary-text-coor);
}

.logo {

font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--dark-text-color);
text-decoration: none;
}


.header-item {

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    
}
.header-item-link,
.adress-item-link {
    text-decoration: none;
    font-style: normal;
    color: var(--text-color);
}

.header-item-link:focus,
.header-item-link:hover,
.adress-item-link:focus,
.adress-item-link:hover {
    color: var(--pressed-state-color);
}

.mail {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}
.tel {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}
/* Main */
/* Sektion 1  */
.hero-header {

    text-align: center;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background-color);
}
.hero {
    background: var(--dark-text-color);
}
.hero-btn {
    
    background: var(--primary-text-coor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--background-color);
    cursor: pointer;
    width: 170px;
    height: 51px;
}
.hero-btn:hover,
.hero-btn:focus {
    background: var(--pressed-state-color);
}

/* Section 2 */

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }

.header-features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
}
.text-features {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/* Section 3 */

.team {
    background: var(--light-text-color);
}
.team-item {
    background: var(--background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.header-work,
.header-team {
    font-weight: 600;
    font-size: 36px;
    line-height: 0.9;
    text-align: center;
}

/* Section 4 */

.item-name {
    width: 130px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2x;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
}

.team-text {
    width: 144px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;

}

/* Footer */

.footer {
    background: var(--dark-text-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accemt-text-color);

}

.logo-color {
    color: var(--light-text-color);
}

/* Portfolio */

.btn-item {
    background: var(--light-text-color);
    border: 1px solid var(--accemt-text-color);
    border-radius: 4px;
    color: var(--primary-text-coor);
    cursor: pointer;
    flex: none;
    order: 4;
    flex-grow: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.btn-item:hover,
.btn-item:focus {
    background: var(--pressed-state-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--background-color);
    
}

.img-name {
    
    width: 290px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
}

.img-text {
    font-family: 'Roboto';
    width: 75px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}